.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loading-icon{
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .header-container img {
    width: 15%;
  }
  
  .header-container h1 {
    margin-left: 20px;
    color: white;
  }